Source: tor-onions-server
Section: net
Priority: optional
Maintainer: Jesse Victors <kernelcorn@riseup.net>
Build-Depends: debhelper (>= 7), g++, cmake, make, dpkg-dev, libpopt-dev, libbotan1.10-dev, libasio-dev, libboost-system-dev, tor-onions-common (>= 0.4)
Standards-Version: 3.9.5
Homepage: http://onions.jessevictors.com
Bugs: https://github.com/Jesse-V/OnioNS-server/issues
Vcs-Git: https://github.com/Jesse-V/OnioNS-server.git
Vcs-Browser: https://github.com/Jesse-V/OnioNS-server

Package: tor-onions-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tor-onions-common (>= 0.3.3)
Conflicts: tor-onions-server
Description: Tor-powered distributed DNS for Tor hidden services
 The Onion Name System (OnioNS) is a privacy-enhanced, distributed, and highly
 usable DNS for Tor hidden services. It allows users to reference a hidden
 service by a meaningful globally-unique domain name chosen by the hidden
 service operator. The system is powered by the Tor network and relies on a
 distributed database. This project aims to address the major usability issue
 that has been with Tor hidden services since their introduction in 2002.
 OnioNS reserves the .tor TLD. The official project page is
 onions55e7yam27n.onion, which is example.tor under OnioNS.
 .
 This package provides the networking infrastructure.
