#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

# https://wiki.debian.org/DebugPackage
# https://bazaar.launchpad.net/~andrewsomething/imagination/debian/view/head:/debian/control
# https://askubuntu.com/questions/17508/how-to-have-debian-packaging-generate-two-packages-given-an-upstream-source-arch
# https://askubuntu.com/questions/182703/how-and-why-to-create-dbg-dev-doc-packages
.PHONY: override_dh_strip
override_dh_strip:
        dh_strip --dbg-package=giblib1-dbg
